* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Epilogue';
    --timer-font: 'Outfit';
    --color-primary: #FAF9EE;
    --color-accent: #7533ff;
    --bg-opacity: rgba(0, 0, 0, 0.380);
}

body {

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    position: relative;

    background-image: url('./../assets/backgrounds/base.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #FAF9EE;

}

body::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-opacity);
    z-index: 1;
}

body>* {
    position: relative;
    z-index: 2;
}


.toki-header {
    padding: 3rem 3rem;
    font-family: var(--primary-font);
}

.toki-header .toki-logo {
    font-size: 3rem;
    font-weight: 700;
}

.toki-header .logo-slogan {
    font-size: 1.05rem;
}


.wrapper-stopwatch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-stopwatch .stopwatch-time {
    font-family: var(--timer-font);
    font-size: 10rem;
    font-weight: 700;
}

.wrapper-stopwatch .stopwatch-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.stopwatch-controls button {
    padding: .9rem 1.6rem 0.6rem 1.6rem;

    border: none;
    border-radius: 1.5rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;

}

.stopwatch-controls .start {
    font-family: var(--primary-font);
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.stopwatch-controls .reset {
    background-color: transparent;
    color: var(--color-primary);
    font-size: 2rem;
    padding: .9rem 0rem 0.6rem 0rem;
}


.toki-footer{
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translate(-50%);

    font-family: var(--primary-font);
    font-size: .9rem;
}


/* Media Queries */
@media only screen and (max-width: 850px) {

    .wrapper-stopwatch .stopwatch-time {
        font-size: 8rem;
    }

    .stopwatch-controls button {
        padding: .8rem 1.5rem 0.5rem 1.5rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .stopwatch-controls .reset {
        font-size: 1.5rem;
        padding: .9rem 0rem 0.6rem 0rem;
    }

    .toki-header {
        padding: 2rem 2rem;
    }

    .toki-header .toki-logo {
        font-size: 2rem;
    }

    .toki-header .logo-slogan {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 580px) {


    .wrapper-stopwatch .stopwatch-time {
        font-size: 4.5rem;
    }

    .stopwatch-controls button {
        padding: .6rem 1rem 0.3rem 1rem;
        font-size: .8rem;
        font-weight: 600;
    }

    .stopwatch-controls .reset {
        font-size: 1rem;
        padding: .9rem 0rem 0.6rem 0rem;
    }

    .toki-header {
        padding: 1.5rem 1.5rem;
    }

    .toki-header .toki-logo {
        font-size: 1.5rem;
    }

    .toki-header .logo-slogan {
        font-size: .6rem;
    }

    .toki-footer{
        
        font-size: .8rem;
    }
}